.grid-item{
    color:rgba(196, 222, 47, 0.913);
    text-align: center;
    padding: 15px;
}
.item-1{
    background-color:rgb(81, 141, 193);}
.item-2{
    background-color:rgb(20, 66, 38);}
.item-3{
    background-color:rgb(73, 52, 129);}
.item-4{
    background-color:rgb(208, 128, 215);}
.item-5{ background-color:rgb(230, 106, 106);}
.item-6{ background-color:rgb(61, 125, 42);}
.item-7{ background-color:#515eea;}


.container{
    border:5px solid gray; 
    display: grid;
    grid-template-columns: 200px 200px 100px 200px 200px;
    grid-template-columns: repeat(2,300px);
    place-items: center;
    place-content: left;
}