div{
    width:100px;
    height:100px;
    background-color: red;
    animation-duration: 6s;
    animation-name:eg;
    position: absolute;
}
@keyframes eg{
    0%{background-color: red;left:0px; top:0px;}
    20%{background-color: yellow;left:200px; top:0px;}
    50%{background-color: green;left:200px; top:200px;}
    80%{background-color: blue;left:0px; top:200px;}
    100%{background-color: red;left:0px; top:0px;}
}